@import "tailwindcss";

:root {
  --background: #ee2332;
  --foreground: #171717;
}

body {
  /* fallback for light mode */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.pinkFlashColor{
  color:#EC06BE; 
}


@keyframes float1 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@keyframes float2 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

@keyframes float3 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float1 {
  animation: float1 6s ease-in-out infinite;
}

.animate-float2 {
  animation: float2 8s ease-in-out infinite;
}

.animate-float3 {
  animation: float3 5s ease-in-out infinite;
}

/* Dark mode with gradient */
@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(circle at top left, #FFFFFF 0%, #1B10F3 40%, #EC06BE 70%, #8C52FF 100%);
    color: #ededed;
    background-attachment: fixed;
  }
}